$colorgGeneralWhiteText: #FFFFFF;
$colorgGeneralBlackText: #313131;
$colorBackFonButton:#FBCE51;
$colorRedTexet:#F54932;
$colorHrefTexet:#3057A2;
$transitionHover: background-color 0.3s, color 0.3s;
$breakpoint_xl:1024px;
$breakpoint_md:768px;
$breakpoint_sm:635px;
