@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather-Bold";
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: local("GolosText Regular"), local("GolosText-Regular"), url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: local("GolosText Medium"), local("GolosText-Medium"), url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: local("GolosText SemiBold"), local("GolosText-SemiBold"), url("../fonts//GolosText-SemiBold.woff2") format("woff2"), url("../fonts//GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: local("GolosText Bold"), local("GolosText-Bold"), url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 1360px;
  padding: 0 73px 0px 73px;
  min-width: 375px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px 0 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: none;
}

.class-reset {
  padding: 0;
  margin: 0;
}

button, input {
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

body,
html {
  font-family: "GolosText", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  min-width: 320px;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.baner {
  position: relative;
  padding: 26px 0 125px 0;
  background-image: url(../img/main.png);
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.baner__logo {
  margin-bottom: 65px;
  display: flex;
  width: 20.9%;
  color: #595653;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.baner__logo-text {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
}
.baner__title {
  max-width: 542px;
  width: 100%;
  margin: 0 0 20px 0;
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 66px;
  color: #313131;
}
@media (max-width: 768px) {
  .baner__title {
    font-size: 36px;
    line-height: 39px;
  }
}
.baner__title-centerText {
  display: block;
  text-align: center;
}
.baner__title-rigtText {
  display: block;
  text-align: right;
}
.baner__text {
  padding: 0 0 0 16px;
  margin-bottom: 39px;
  width: 44%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #313131;
}
@media (max-width: 1024px) {
  .baner__text {
    width: 71%;
  }
}
@media (max-width: 768px) {
  .baner__text {
    width: 100%;
  }
}
.baner__btn-left {
  margin: 0 10px 0 0;
  padding: 20px 8px;
  min-width: 100px;
  max-width: 263px;
  width: 100%;
  border-radius: 66px;
  text-align: center;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  background-color: #1F1F1F;
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 768px) {
  .baner__btn-left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: none;
  }
}
.baner__btn-left:hover {
  color: #1F1F1F;
  background-color: #FBCE51;
}
.baner__btn-left > * {
  display: block;
}
@media (max-width: 768px) {
  .baner__btn-left {
    margin: 0 0 15px 0;
  }
}
.baner__btn-right {
  padding: 20px 8px;
  min-width: 100px;
  max-width: 263px;
  width: 100%;
  border-radius: 66px;
  text-align: center;
  font-weight: 500;
  color: #1F1F1F;
  border: 2px solid #1F1F1F;
  transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 768px) {
  .baner__btn-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: none;
  }
}
.baner__btn-right:hover {
  color: #FFFFFF;
  background-color: #1F1F1F;
}
.baner__btn-right > * {
  display: block;
}
@media (max-width: 1024px) {
  .baner {
    background-image: url(../img/banner-1333.png);
    background-position-x: center;
  }
}
@media (max-width: 768px) {
  .baner {
    background-image: url(../img/mainscreen.png);
  }
}

.icon {
  width: 22px;
  height: 36px;
}

.img-sity {
  position: absolute;
  right: -53px;
  top: 276px;
  left: 156px;
  max-height: 427px;
  height: 100%;
  width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  background-image: url(../img/path.png);
}
@media (max-width: 1366px) {
  .img-sity {
    width: 100%;
    left: 1px;
  }
}

.dama-shess,
.king-shess,
.pawn-shess,
.knignt-shess,
.white-fon {
  position: absolute;
}

.dama-shess,
.king-shess {
  z-index: -1;
}

.pawn-shess,
.knignt-shess {
  z-index: 1;
}

.runnig-text {
  height: 63px;
  display: flex;
  align-items: center;
  background-color: #F54932;
  font-family: "Merriweather";
  color: #FFFFFF;
  overflow-x: hidden;
  position: relative;
}

.item {
  animation: runnig-text 15s infinite linear;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 22px;
  width: 77%;
  font-size: 22px;
  top: 11px;
  bottom: 12px;
  right: 0;
  left: 100%;
  background-image: url(../img/Ellipse\ 9.svg);
  background-repeat: no-repeat;
  background-position: 78% 7px;
}

.anime-start {
  animation-delay: 4s;
  background-position-x: 87%;
}

.anime-start2 {
  animation-delay: 8.6s;
  background-position-x: 67%;
}

@keyframes runnig-text {
  from {
    transform: translateX(130%);
  }
  to {
    transform: translateX(-2235px);
  }
}
.about-us {
  padding: 82px 0 0 0;
}
.about-us .about-us__container {
  display: flex;
  align-items: center;
  margin: 0 0 60px 0;
  min-height: 250px;
  background-image: url(../img/Frame\ 48095655.png);
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 1024px) {
  .about-us .about-us__container {
    background-size: contain;
    background-position: center;
  }
}
.about-us__comtent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .about-us__comtent {
    display: block;
  }
}
.about-us__block-left {
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .about-us__block-left {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
}
.about-us__textLecture {
  width: 64%;
  color: #313131;
  font-family: "Merriweather-Bold";
  font-size: clamp(1.75rem, 1.568rem + 0.91vw, 2.25rem);
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}
.about-us__textLecture span {
  color: #F54932;
}
@media (max-width: 635px) {
  .about-us__textLecture {
    line-height: 37px;
  }
}
@media (max-width: 1024px) {
  .about-us__textLecture {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
  }
}
.about-us__textGameBender {
  margin: 0 0 51px 0;
  color: #313131;
  font-family: "Merriweather-Bold";
  font-size: clamp(1.75rem, 1.568rem + 0.91vw, 2.25rem);
  line-height: 49px;
  text-transform: uppercase;
}
.about-us__textGameBender span {
  color: #F54932;
}
@media (max-width: 635px) {
  .about-us__textGameBender {
    line-height: 37px;
  }
}
@media (max-width: 1024px) {
  .about-us__textGameBender {
    text-align: end;
  }
}
@media (max-width: 768px) {
  .about-us__textGameBender {
    text-align: left;
  }
}
.about-us__href {
  padding: 0 61px 0 0;
  color: #3057A2;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .about-us__href {
    padding: 0 0 0 0;
  }
}

.about-us__comtentBulletin {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 1024px) {
  .about-us__comtentBulletin {
    width: 100%;
  }
}

.about-us__bulletinBoard {
  display: grid;
  grid-template-columns: 43% 57%;
  margin: 0 0 44px 0;
  width: 100%;
}
@media (max-width: 768px) {
  .about-us__bulletinBoard {
    grid-template-columns: none;
  }
}

.item-table {
  padding: 16px 0 16px 0px;
  border-bottom: 1px solid #D0D0D0;
  font-size: 20px;
  color: #313131;
}
.item-table:nth-child(even) {
  padding: 16px 0 16px 16px;
  border-left: 1px solid #D0D0D0;
  font-weight: 600;
}
@media (max-width: 768px) {
  .item-table:nth-child(even) {
    border-left: none;
    padding: 16px 0 16px 0;
  }
}
@media (max-width: 768px) {
  .item-table:nth-child(odd) {
    border-bottom: none;
  }
}
.item-table .sale {
  -webkit-text-decoration: line-through solid #F54932;
          text-decoration: line-through solid #F54932;
}

.stages {
  padding: 201px 0 0 0;
}
.stages__title {
  display: inline-block;
  margin: 0 0 34px 0;
  width: 60%;
  font-family: "Merriweather";
  font-size: 54px;
  line-height: 65px;
  text-transform: uppercase;
  color: #313131;
}
@media (max-width: 768px) {
  .stages__title {
    font-size: 36px;
    line-height: 39px;
  }
}
.stages__href {
  width: 345px;
  color: #3057A2;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  text-transform: lowercase;
}
.stages__href::first-letter {
  text-transform: uppercase;
}
.stages__navig-btn {
  display: none;
}
@media (max-width: 768px) {
  .stages__navig-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.stages__general-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background-color: #313131;
  color: #FFFFFF;
  border: none;
  position: relative;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
.stages__general-btn:hover {
  background-color: #FBCE51;
}
.stages__slade {
  position: relative;
}
@media (max-width: 768px) {
  .stages__slade {
    padding: 210px 0 0 0;
    overflow: hidden;
  }
}
.stages__slade::before {
  content: "";
  position: absolute;
  width: 36%;
  height: 207px;
  top: 51%;
  left: 70%;
  background-image: url(../img/fly.png);
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
}
@media (max-width: 1024px) {
  .stages__slade::before {
    top: -26%;
    left: 40%;
    width: 60%;
    height: 231px;
    background-size: contain;
  }
}
@media (max-width: 768px) {
  .stages__slade::before {
    top: -3%;
    left: 5%;
    width: 100%;
  }
}
.stages__list {
  padding: 0 0 0 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: "stage1 stage2 stage3" "stage4 stage5 stage3" "stage6 stage7 stage7";
}
@media (max-width: 1024px) {
  .stages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "stage1 stage2" "stage3 stage3" "stage4 stage5" "stage6 stage7" "stage6 stage7";
  }
}
@media (max-width: 768px) {
  .stages__list {
    grid-template-columns: repeat(5, 100%);
    gap: 0px;
    grid-template-areas: "stage1 stage3 stage4 stage6 stage7" "stage2 stage3 stage5 stage6 stage7";
  }
}
.stages .stageGrid-1 {
  grid-area: stage1;
}
.stages .stageGrid-2 {
  grid-area: stage2;
}
.stages .stageGrid-3 {
  grid-area: stage3;
}
.stages .stageGrid-4 {
  grid-area: stage4;
}
.stages .stageGrid-5 {
  grid-area: stage5;
}
.stages .stageGrid-6 {
  grid-area: stage6;
}
.stages .stageGrid-7 {
  grid-area: stage7;
}
.stages .stageGrid-7 p {
  width: 51%;
}
.stages__item {
  min-height: 112px;
  display: flex;
  padding: 20px 20px 20px 20px;
  margin: 0 20px 0 0;
  background-image: url(../img/backStage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 635px) {
  .stages__item {
    padding: 40px;
  }
}
.stages__item-numberStage {
  background-color: #FFFFFF;
  color: #313131;
  font-weight: 600;
  min-width: 36px;
  height: 36px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stages__item-text {
  width: 85%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.stages__slade-blockKontant {
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 90%;
  cursor: pointer;
}
.stages__lists-butans {
  display: flex;
  padding: inherit;
  width: 22%;
  justify-content: space-evenly;
  margin: 0 6px;
}

.stages__slade-blockKontant {
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 90%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}
.stages__slade-blockKontant:hover {
  background-color: #F54932;
}
.stages__slade-blockKontant:focus {
  border: 1px solid #F54932;
}

.color-active {
  background-color: #313131;
}

.left::after {
  content: "";
  position: absolute;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.button-right::after {
  content: "";
  position: absolute;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  width: 8px;
  height: 8px;
  transform: rotate(221deg);
}

.participants {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .participants {
    flex-direction: column;
  }
}
.participants__title {
  font-family: "Merriweather";
  font-size: 54px;
  line-height: 65px;
  text-transform: uppercase;
  color: #313131;
}
@media (max-width: 768px) {
  .participants__title {
    font-size: 36px;
    line-height: 39px;
  }
}
.participants__slide {
  overflow: hidden;
}
.participants__list {
  display: flex;
  padding: 0;
  position: relative;
  transition: all 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.participants__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29vw;
}
.participants__item img {
  margin: 0 0 30px 0;
  width: 77%;
}
.participants__item-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: 600;
  color: #313131;
}
.participants__item-text {
  margin: 0 0 20px 0;
  color: #313131;
  font-size: 20px;
}
.participants__item-button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #3057A2;
  border: 1px solid #313131;
  border-radius: 62px;
  transition: background-color 0.3s, color 0.3s;
}
.participants__item-button:hover {
  color: #FFFFFF;
  background-color: #3057A2;
}
.participants__general-ContainerBtn {
  display: flex;
  align-items: center;
}
.participants__general-btn {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: #FFFFFF;
  border: none;
  position: relative;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
.participants__general-btn:hover {
  background-color: #FBCE51;
}
@media (max-width: 768px) {
  .participants__general-btn {
    min-width: 36px;
    min-height: 36px;
  }
}

.slider {
  display: flex;
}

.run {
  display: flex;
}

.cont {
  position: relative;
  padding: 0 50px 0 0;
}

.left1::after {
  content: "";
  position: absolute;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.button-right1::after {
  content: "";
  position: absolute;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  width: 8px;
  height: 8px;
  transform: rotate(221deg);
}

.disabled {
  opacity: 0.5;
}

.general-modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.podrobnee {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: #FFFFFF;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  padding: 44px 0 70px 0;
  background-color: #E9DED4;
}
.footer__text {
  font-size: 16px;
  line-height: 19px;
}/*# sourceMappingURL=style.css.map */