$colorWhiteText: #FFFFFF;
$colorOrange:#FF6E30;
$colorActiveEvent: #CE4307;
$hover-setting-color:color .3s ease;
$hover-setting-bgColor:background-color .3s ease;
$hover-setting-icon:fill .3s ease;
$border-none:none;
$breakpoint_xl:1024px;
$breakpoint_md:768px;
$breakpoint_sm:635px;
$color_hover:#FF6E30;
$color_focus:#BC572B;
$color_active:#BC572B;